
h1{
    width: 100%;
    text-align: center;
}

h2{
    width: 100%;
    text-align: center;
}

hr{
    background-color: aliceblue;
}

#drink-section img{
    width: 100%;
    height: auto;
}