
.slide-in {
    color: rgba(0, 0, 0, 0.658);
    max-width: 900px;
    height: 50%;
    margin: 50px auto;
    background: linear-gradient(to right, #b1b1b1, #c47f6ca9 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
    border: black solid 1px;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}





.slide-in2 {
    color: #b1b1b1;
    max-width: 900px;
    margin: 50px auto;
    background: linear-gradient(to right, #4c4948, #25221c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
    border: #000000 1px solid;
}
.slide-in2.active {
    transform: translateX(0%);
    opacity: 1;
}



.slide-in3 {
    color: whitesmoke;
    max-width: 900px;
    margin: 50px auto;
    background: linear-gradient(to right, #000000, #0a0a09ea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
    border: #000000 1px solid;
}
.slide-in3.active {
    transform: translateX(0%);
    opacity: 1;
}




#boxExp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imgExp{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.08;
}

#sep {
    background-color:black;
    height: 2px;
}

#sep2 {
    background-color:#b1b1b1;
    height: 2px;
}

#sep3 {
    background-color:#ffffff;
    height: 2px;
}